html {
    background-image: linear-gradient(lightgray, gray);

}

body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

h1 {
    font-family: cambria;
    margin: 0px;
}

h2 {
    margin: 0px;
}

.box {
    background-color: white;
    padding: 2vh;
}

.list {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-content: center;
}

.list a, .list div {
    flex: 1 1 25%;
    margin: 1vw;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    min-width: 200px;
    max-width: 500px;
}

img {
    object-fit: cover; 
    min-width: 190px;
    max-width: 100%;
}